node_modules

#Hardhat files
cache
artifacts

package-lock.json

.env
scripts/test.js

.openzeppelin/unknown-1337.json
.openzeppelin/unknown-31337.json
.openzeppelin/kovan.json
.openzeppelin/unknown-421611.json

##solidity-coverage
coverage.json
coverage

deployments/local
