[submodule "mai-protocol-v3"]
	path = mai-protocol-v3
	url = git@github.com:yashnaman/mai-protocol-v3.git
	branch = 72d510e29134a73651e6325ca85f59245eef4713

[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
