node_modules

#Hardhat files
cache
artifacts
types

package-lock.json

.env
scripts/test.js

.openzeppelin/unknown-1337.json
.openzeppelin/unknown-31337.json
.openzeppelin/kovan.json
.openzeppelin/unknown-421611.json
.openzeppelin/unknown-69.json

##solidity-coverage
coverage.json
coverage

##hardhat-deploy (dependency for solidity-test)
deployments

backup

## forge-deploy-files
broadcast

out

